@charset "utf-8";

@font-face {
    font-family: 'ELAND_Nice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*, *::after, *::before {
    box-sizing: border-box;
}

html {
    width: 100%;
}

body {
    font-size: 0.7rem;
    width: 100%;
    /* max-width: 700px; */
}

a {
    text-decoration: none;
    color: #000;
}

h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-family: 'ELAND_Choice_M';
}


/* 상단 바 */
#hd {
    position: fixed;
    left: 0;
    top: 0;
    height: 70px;
    line-height: 70px;
    background: #ffe8ba;
    width: 100%;
    z-index: 50;
}
#hd h1 {
    /* float: left; */
    margin: 0 auto;
    text-align: center;
    width: 60%;
    font-size: 1.4rem;
    font-family: 'ELAND_Nice_M';
}
#hd h1 a  {
    position: absolute;
    padding-left: 5px;
    top: 2px;
}
#hd h1 a img {
    top: 10px;
}

#hd .h {
    position: absolute;
    top: 2px;
    left: 20px;
}

#hd .s {
    position: absolute;
    top: 2px;
    right: 20px;
}





/* logo menu -close */
.logo_m {
    font-size: 1.4rem;
    font-weight: bold;
    font-family: 'ELAND_Nice_M';
    width: 100%;
    height: 50px;
    top: -100px;
    line-height: 50px;
    margin-top: 70px;
    position: absolute;
    z-index: 30;
    transition: all 0.3s;
    /* opacity: 0; */

    /* display: none; */
}
.logo_m li {
    width: 100%;
    /* float: left; */
    /* margin: 0 auto; */
    text-align: center;
    background: #ffe8ba;
}
.logo_m li span {
    color: #5f9920;
}



/* logo menu - open */
.logo_m.open {
    font-size: 1.4rem;
    font-weight: bold;
    font-family: 'ELAND_Nice_M';
    width: 100%;
    height: 50px;
    top: 0px;
    line-height: 50px;
    margin-top: 70px;
    position: absolute;
    z-index: 30;
    transition: all 0.3s;
    /* opacity: 0; */

    /* display: none; */
}
.logo_m li {
    width: 100%;
    /* float: left; */
    /* margin: 0 auto; */
    text-align: center;
    background: #ffe8ba;
}
.logo_m li span {
    color: #5f9920;
}





/* hamburger - close */
/* hamburger head menu */
#ham {
    position: fixed;
    top: 70px;
    background: #ffe8ba;
    opacity: 0.9;
    height: 100%;
    line-height: 70px;
    width: 330px;
    font-family: 'ELAND_Choice_M';
    font-weight: 700;
    font-size: 1.1rem;
    transition: all 0.5s;
    left: -330px;

    z-index: 960;
    /* display: none; */
}



#ham_hd .line {
    width: 90%;
    height: 80px;
    border-bottom: 1px solid #aa8700;
    margin: 0 auto;
}

#ham_hd {
    width: 100%;
    height: 150px;
}
#ham_hd ul {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 20px 0;
    padding-left: 5px;
}
#ham_hd ul li {
    float: left;
    display: block;
    top: 0;
    left: 0px;
    width: 50%;
    line-height: 30px;
    margin: 0 auto;
}
#ham_hd ul .loca {
    clear: both;
    float: left;
    display: block;
    top: 40px;
    left: 0px;
}

#ham_hd li img {
    top: 50%;
    transform: translateY(30%);
    margin: 0 20px;
}

#ham_hd ul li:hover a, .menu li:hover a {
    color: #554400;
    font-weight: bold;
}

/* hamburger sub menu */
.menu {
    width: 100%;
    display: block;
    margin-top: -20px;
    margin-left: 25px;
}
.menu li {
    margin-top: -10px;
}
.menu span {
    font-size: 1.1rem;
}
.menu img {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    transform: translateX(-200%);
}




/* hamburger-open*/
/* hamburger head menu */
#ham.open {
    position: fixed;
    top: 70px;
    background: #ffe8ba;
    opacity: 0.9;
    height: 100%;
    line-height: 70px;
    width: 330px;
    font-family: 'ELAND_Choice_M';
    font-weight: 700;
    font-size: 1rem;
    transition: all 0.5s;
    left: 0px;

    z-index: 960;
    /* display: none; */
}

/* #hd .h > a:hover #ham {
    opacity: 1;
    left: -1200px;
    left: 0px;
    z-index: 99;
} */

#ham_hd .line {
    width: 90%;
    height: 80px;
    border-bottom: 1px solid #aa8700;
    margin: 0 auto;
}

#ham_hd {
    width: 100%;
    height: 150px;
}
#ham_hd ul {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 20px 0;
    padding-left: 5px;
}
#ham_hd ul li {
    float: left;
    display: block;
    top: 0;
    left: 0px;
    width: 50%;
    line-height: 30px;
    margin: 0 auto;
}
#ham_hd ul .loca {
    clear: both;
    float: left;
    display: block;
    top: 40px;
    left: 0px;
}

#ham_hd li img {
    top: 50%;
    transform: translateY(30%);
    margin: 0 20px;
}

#ham_hd ul li:hover a, .menu li:hover a {
    color: #554400;
    font-weight: bold;
}

/* hamburger sub menu */
.menu {
    width: 100%;
    display: block;
    margin-top: -20px;
    margin-left: 25px;
}
.menu li {
    margin-top: -10px;
}
.menu span {
    font-size: 1.1rem;
}
.menu img {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    transform: translateX(-200%);
}





/* Main menu */
#main {
    width: 100%;
    /* overflow: hidden; */
    position: relative;
    height: auto;
    top: 0px;
}
#main #mbanner {
    /* width: 400%; */
    /* position: relative; */
    height: 380px;
    margin-top: 70px;
}
#slide {
    width: 100%;
    height: 270px;
}
/* #slide li {
    float: left;
    position: relative;
    float: left;
} */
#slide img {
    width: 100%;
    /* height: 100%; */
    z-index: 1;
}


/* #roll {
    position: absolute;
    float: right;
    right: 0;
    padding-right: 5%;
    bottom: 5px;
    top: 50%;
    transform: translateY(70%);
    z-index: 35;
} */
/* #roll a {
    width: 10px;
    height: 10px;
    background: #fff;
    opacity: 0.9;
    float: left;
    border-radius: 10px;
    margin: 4px;
}
#roll .on {
    background: #666;
} */



/* What's New */
#wn {
    position: relative;
    width: 100%;
    height: 380px;
    margin-top: 30px;
}

#new {
    width: 100%;
    margin-top: 30px;
    height: 270px;
}

/* #new li {
    float: left;
    width: 25%;
    position: relative;
} */
#new li img {
    width: 100%;
    vertical-align: bottom;
    z-index: 1;
}


/* #roll2 {
    position: absolute;
    right: 7%;
    bottom: 5px;
    top: 84%;
    transform: translateY(50%);
    margin-left: 5px;
    z-index: 35;
    height: 30px;
}
#roll2 a {
    width: 10px;
    height: 10px;
    background: #fff;
    opacity: 0.9;
    float: left;
    border-radius: 10px;
    margin: 4px;
}
#roll2 .on {
    background: #666;
} */



/* slick Dots */
.slick-dots {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 99;
    display: flex;
}
.slick-dots li {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 3px;
}
.slick-dots > li > button {
    font-size: 0;
    color: #fff;
    width: 15px;
    height: 15px;
    background: #eee;
    border-radius: 100%;
    border: none;
}
.slick-dots > li.slick-active button {
    background: #666;
}




/* line */
#line {
    width: 70%;
    display: inline-block;
    margin-left: 15%;
    transform: translateY(-50%);
    margin-top: 70px;
}
.ln {
    width: 100%;
    height: 2px;
    background: #888;
    opacity: 0.5;
    text-align: justify;
}




/* Event */
#event {
    width: 100%;
    position: relative;
    overflow: hidden;
}
#event h2 {
    width: 100%;
    text-align: center;
}
#event ul {
    width: 200%;
    margin-top: 10px;
    display: flex;
    background: #efefef;
    
}
#event ul li {
    width: 33.33%;
    margin: 10px;
    /* overflow: scroll; */
}
#event ul li img {
    width: 100%;
    height: auto;
    border-radius: 7px;
}



#event > button {
    border: none;
    background: none;
    font-size: 0;
    outline: none;
}


/* event 스크롤 */
#event .sc {
    width: 100%;
    height: 10px;
    background: #ccc;
    border-radius: 10px;
    margin-top: 10px;
    position: absolute;
    opacity: 0.6;
}
.scroll2 {
    width: 40%;
    height: 10px;
    background: #333;
    border-radius: 10px;
    margin-left: 30px;
    z-index: 90;
    opacity: 1;
}




/* E-LAND MAGAZINE */
#magazine {
    margin-bottom: 80px;
    width: 100%;
}
#magazine h2 {
    padding-top: 50px;
}
#magazine #grid {
    background: #fff0d3;
    /* margin: 2rem auto; */
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(4, 1fr);
    border-top: 20px solid #fff0d3;
    border-bottom: 20px solid #fff0d3;
}

#grid div img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

#grid .cherryblossom {
    grid-column: 3/5;
    grid-row: 1/3;
    padding-left: 10px;
}
#grid .strawberry {
    grid-column: 1/3;
    grid-row: 2/4;
    padding-right: 10px;
}
#grid .eworld {
    grid-column: 3/5;
    grid-row: 5/7;
    padding-left: 10px;
    padding-top: 30px;
}
#grid .basketball {
    grid-column: 3/5;
    grid-row: 3/5;
    padding-left: 10px;
    padding-top: 30px;
}
#grid .finance {
    grid-column: 1/3;
    grid-row: 4/6;
    padding-right: 10px;
    padding-top: 30px;
}
#grid .diamond {
    grid-column: 1/3;
    grid-row: 6/8;
    padding-right: 10px;
    padding-top: 30px;
}
#grid div:nth-child(2) {
    grid-column: 1/3;
    grid-row: 1/2;
}
/* #grid div:nth-child(4) {
    grid-column: 3/5;
    grid-row: 3/4;
} */
#grid div:nth-child(6) {
    grid-column: 1/3;
    grid-row: 5/6;
}
/* #grid div:nth-child(8) {
    grid-column: 3/5;
    grid-row: 7/8;
} */



#grid span {
    font-size: 0.85rem;
    font-family: 'ELAND_Choice_M';
    display: block;
    font-weight: bold;
}

.cherryblossom, .finance, .eworld, .basketball, .strawberry, .diamond {
    position: relative;
}
.cherryblossom span {
    position: absolute;
    top: 80%;
    transform: translateY(50%);
    color: #fff;
    padding-left: 5%;
}
.strawberry span {
    position: absolute;
    top: 3%;
    transform: translateY(50%);
    left: 10%;
}
.eworld span {
    position: absolute;
    top: 15%;
    transform: translateY(50%);
    left: 10%;
    color: #fff;
}
.basketball span {
    position: absolute;
    top: 80%;
    transform: translateY(50%);
    color: #eee;
    padding-left: 5%;
}
.finance span {
    position: absolute;
    top: 80%;
    transform: translateY(70%);
    left: 10%;
    color: #000;
}
.diamond span {
    position: absolute;
    top: 80%;
    transform: translateY(70%);
    left: 10%;
    color: #000;
}





/* E-LAND CHANNEL */
#channel {
    margin-bottom: 30px;
}
#channel div {
    width: 100%;
    height: auto;
    background: #111;
    padding-top: 20px;
    padding-bottom: 20px;
}
.youtube .youtube {
    /* position: relative; */
    width: 100%;
    top: 50px;
    object-fit: cover;
}
.youtube iframe {
    /* position: absolute; */
    width: 100%;
}





/* family site */
#family {
    margin-bottom: 30px;
    float: right;
    padding-right: 20px;
}
.family_box {
    border: 2px solid #666;
    border-radius: 5px;
    padding: 3px;
    font: 0.7rem bold 'ELAND_Choice_M', arial;
}




/* 위로 이동 */
#button {
    margin: 10px;
    margin-right: 5%;
    opacity: 0.7;
    position: fixed;
    top: 680px;
    z-index: 959;
}



/* Footer */
#footer {
    width: 100%;
    background: #ffe8ba;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    
}
#footer .ft {
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0.6rem;
    padding-left: 20px;
}
.ft span {
    padding-right: 10px;
    font-family: 'ELAND_Choice_M';
    color: #666;
    display: flex;
    margin-top: 5px;
}





.logo1 {
    width: 30%;
    display: flex;
    right: 0px;
    padding-left: 15px;
    margin-top: 40px;
}
.logo1 img {
    width: 100%;
}




/* popup 창 */
.popup {
    background: #fff0d3;
    border: 3px solid #ffb03d;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    display: inline-block;
    width: 100%;

    /* display: none; */
}
.popup h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: 'ELAND_Choice_M';
}
.pop {
    font-weight: 700;
    font-family: 'ELAND_Choice_M';
    line-height: 1.4;
    font-size: 0.8rem;
}

.popup div {
    margin-top: 20px;
    cursor: pointer;
}
.popup div a {
    color: #fff;
    background: #ffb03d;
    border: 1px solid #e08700;
    padding: 5px;
    font-size: 0.7rem;
}
.popup div a span {
    cursor: pointer;
    margin-right: 10px;
    font-size: 2rem;
    display: inline-block;
    top: 50%;
    transform: translateY(30%);
}

.close {
    float: left;
}
.today {
    float: right;
}



/* PC화면 */



