@charset "utf-8";

@font-face {
    font-family: 'ELAND_Nice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-size: 0.9rem;
    width: 100%;
    /* max-width: 700px; */
    min-width: 660px;
    font-family: 'ELAND_Choice_M';
}

a {
    text-decoration: none;
    color: #000;
}



/* 상단 바 */
#hd {
    position: fixed;
    left: 0;
    top: 0;
    height: 70px;
    line-height: 70px;
    background: #ffe8ba;
    width: 100%;
    z-index: 50;
}
#hd h1 {
    /* float: left; */
    margin: 0 auto;
    text-align: center;
    width: 100%;
    font-family: 'ELAND_Nice_M';
}

#hd .h {
    position: absolute;
    top: 10px;
    left: 15px;
}
#hd .s {
    position: absolute;
    top: 10px;
    right: 15px;
}




/* hamburger - close */
/* hamburger head menu */
#ham {
    position: fixed;
    top: 70px;
    background: #ffe8ba;
    opacity: 0.9;
    height: 100%;
    line-height: 70px;
    width: 330px;
    font-family: 'ELAND_Choice_M';
    font-weight: 700;
    font-size: 1.1rem;
    transition: all 0.5s;
    left: -330px;

    z-index: 960;
    /* display: none; */
}



#ham_hd .line {
    width: 90%;
    height: 80px;
    border-bottom: 1px solid #aa8700;
    margin: 0 auto;
}

#ham_hd {
    width: 100%;
    height: 150px;
}
#ham_hd ul {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 20px 0;
    padding-left: 5px;
}
#ham_hd ul li {
    float: left;
    display: block;
    top: 0;
    left: 0px;
    width: 50%;
    line-height: 30px;
    margin: 0 auto;
}
#ham_hd ul .loca {
    clear: both;
    float: left;
    display: block;
    top: 40px;
    left: 0px;
}

#ham_hd li img {
    top: 50%;
    transform: translateY(30%);
    margin: 0 20px;
}

#ham_hd ul li:hover a, .menu li:hover a {
    color: #554400;
    font-weight: bold;
}

/* hamburger sub menu */
.menu {
    width: 100%;
    display: block;
    margin-top: -20px;
    margin-left: 25px;
}
.menu li {
    margin-top: -10px;
}
.menu span {
    font-size: 1.1rem;
}
.menu img {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    transform: translateX(-200%);
}




/* hamburger-open*/
/* hamburger head menu */
#ham.open {
    position: fixed;
    top: 70px;
    background: #ffe8ba;
    opacity: 0.9;
    height: 100%;
    line-height: 70px;
    width: 330px;
    font-family: 'ELAND_Choice_M';
    font-weight: 700;
    font-size: 1rem;
    transition: all 0.5s;
    left: 0px;

    z-index: 960;
    /* display: none; */
}

/* #hd .h > a:hover #ham {
    opacity: 1;
    left: -1200px;
    left: 0px;
    z-index: 99;
} */

#ham_hd .line {
    width: 90%;
    height: 80px;
    border-bottom: 1px solid #aa8700;
    margin: 0 auto;
}

#ham_hd {
    width: 100%;
    height: 150px;
}
#ham_hd ul {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 20px 0;
    padding-left: 5px;
}
#ham_hd ul li {
    float: left;
    display: block;
    top: 0;
    left: 0px;
    width: 50%;
    line-height: 30px;
    margin: 0 auto;
}
#ham_hd ul .loca {
    clear: both;
    float: left;
    display: block;
    top: 40px;
    left: 0px;
}

#ham_hd li img {
    top: 50%;
    transform: translateY(30%);
    margin: 0 20px;
}

#ham_hd ul li:hover a, .menu li:hover a {
    color: #554400;
    font-weight: bold;
}

/* hamburger sub menu */
.menu {
    width: 100%;
    display: block;
    margin-top: -20px;
    margin-left: 25px;
}
.menu li {
    margin-top: -10px;
}
.menu span {
    font-size: 1.1rem;
}
.menu img {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    transform: translateX(-200%);
}





/* 로그인하기 */
#login {
    width: 100%;
    top: 70px;
    position: relative;
    font-size: 1rem;
    /* margin: 10%; */
}

#login > h2 {
    font: 2.5rem 'ELAND_Nice_M';
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
}


/* 아이디로 로그인하기 */
.login1 {
    display: inline-block;
    width: 70%;
    margin: auto 15%;
    height: auto;

    /* display: none; */
}

.login1 h3 {
    float: left;
    width: 50%;
    padding: 10px;
    border: 1px solid #aa8700;
    border-radius: 5px 5px 0 0;
    margin: 0 auto;
    text-align: center;
}
.login1 .now {
    background: #ffe8ba;
}

#login_id {
    border: 1px solid #aa8700;
    border-radius: 0 0 5px 5px;
    height: 250px;
    margin-top: 42px;
    text-align: center;
}
#login_id label {
    font-weight: bold;
    font-size: 1.3rem;
    margin: 15px;
    display: inline-block;
    top: 50%;
    transform: translateY(50%);
}
#login_id input {
    padding: 10px;
    margin-left: 15px;
    margin-top: 20px;
    display: inline-block;
    color: #000;
    border: 2px solid #bbb;
    border-radius: 5px;
}
.pw #pw {
    transform: translateX(-4%);
}


#button input {
    background: #554400;
    color: #fff;
    font: 1.5rem 'ELAND_Choice_M';
    padding: 10px 40px;
    border-radius: 5px;
}

#id_check {
    display: inline-block;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
}
#ids, #autosave {
    display: inline;
}
#ids input, #autosave input {
    margin: 0;
    margin-left: 20px;
    margin-right: 5px;
}



/* 회원가입 */
#sub div {
    width: 50%;
    margin: 0 auto;
    transform: translateX(25%) translateY(550%);
}
#sub div a{
    margin-right: 10px;
    color: #858585;
}






/* sns계정 간편로그인 */
#sns {
    /* position: fixed; */
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
}
.line1, .line2 {
    display: inline-block;
    width: 20%;
    height: 3px;
    background: #aa8700;
    top: 50%;
    transform: translateY(1550%);
}
.line2 {
    float: right;
    top: 50%;
    transform: translateY(1850%);
}
#sns h2 {
    text-align: center;
    margin: 30px;
}
.sns_in {
    display: flex;
    width: 100%;
}
.sns_in li {
    margin-left: 20px;
    margin-right: 20px;
    width: 25%;
    text-align: center;
}
.sns_in li a {
    width: 90%;
    text-align: center;
    display: inline-block;
}
.sns_in li a img {
    width: 100%;
    height: auto;
}

